/node_modules
/vendor
.git
.gitignore
.env
.dockerignore
Dockerfile
docker-compose.yml
README.md
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.github
